$light-bg: #f2f2f2; // Light background color
$dark-bg: #212121; // Dark background color
$text-color: #333; // Light mode text color
$light-text-color: #fff; // Dark mode text color
$light-hover-bg: #e5e5e5; // Light mode hover background
$dark-hover-bg: #303030; // Dark mode hover background
$light-hover-text-color: #1a1a1a; // Light mode hover text color
$dark-hover-text-color: #ddd; // Dark mode hover text color

.NavLink {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: $text-color; // Light mode text color

  &:hover,
  &.active {
    background-color: $light-hover-bg; // Light mode hover background
    color: $light-hover-text-color; // Light mode hover text color
  }

  &.dark-mode {
    color: $light-text-color;

    &:hover,
    &.active {
      background-color: $dark-hover-bg; // Dark mode hover background
      color: $dark-hover-text-color; // Dark mode hover text color
    }
  }
}
