.hero__content {
  background-color: #fff;
  height: 100vh;
  width: 100%;

  &.dark-mode {
    background-color: #333;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: #fff;

  &.dark-mode {
    background-color: #333 !important;
  }
}

.hero-container {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  height: 100vh;

  &.dark-mode {
    background-color: #333;
    color: #fff;

    // Specific adjustments for dark mode, e.g.,
    .link {
      background-color: rgb(255, 122, 198);
      color: #333;
    }
  }
}

.left-side {
  flex: 1;

  .hero-title {
    font-size: 70px;
    line-height: -150%;
    margin-bottom: 30px;
  }
}

.link {
  background-color: rgb(5, 122, 255);
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: bold;
}

.right-side {
  flex: 1;
}

.slider-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;

  .slider-image-container {
    padding: 20px;
    background-color: #121212;
    width: 450px;
    height: 550px;
    border-radius: 15px;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;
    &:before {
      font-size: 20px;
      color: #fff;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-dots {
    bottom: 10px;
    li {
      button:before {
        color: #fff;
        font-size: 12px;
      }
    }
  }
}
