.featured__content {
  background-color: #fff;

  &.dark-mode {
    background-color: #333;
    color: #fff;
  }
}

.featured-products {
  background-color: #fff;
  padding-top: 50px;

  &.dark-mode {
    background-color: #333;
    color: #fff;
  }

  h1 {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  hr {
    margin-bottom: 90px;
  }
}

.card-image-container {
  position: relative;
  margin-bottom: 300px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: calc(33.33% - 10px);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 7px 11px 7px 0px rgba (34, 60, 80, 0.2);
  -moz-box-shadow: 7px 11px 7px 0px rgba (34, 60, 80, 0.2);
  box-shadow: 7px 11px 7px 0px rgba (34, 60, 80, 0.2);
  padding: 25px 0;
  margin-bottom: 150px;

  &.dark-mode {
    background-color: #333;
    color: #fff;
  }
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 30px;
}

.card-price {
  font-size: 16px;
  margin: 10px 0;
}

.cards-image {
  width: 250px;
}

.card-wrapper {
  // width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .card-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .product-details {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  img {
    height: 400px;
    object-fit: cover;
  }
}
