.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  height: 70px;

  h1 {
    cursor: pointer;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}
