.Navbar {
  &.dark-mode {
    background-color: rgb(24, 25, 32);
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(240, 246, 255);

  &__logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .left-side {
    display: flex;
    align-items: center;
  }

  nav {
    // flex-grow: 1;
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.Logo {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #007aff;
  padding: 7px 15px;
  border-radius: 5px;

  &.dark-mode {
    color: black;
  }
}

.dark-mode-sun {
  color: white;
}

.cart-icon {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: #fff;
    border-radius: 60%;
    padding: 4px;
    font-size: 0.8rem;
  }
}
