.navbar-container {
  background-color: rgb(240, 246, 255);

  &.dark-mode {
    background-color: rgb(24, 25, 32);
  }
}

.Navbar {
  &.dark-mode {
    background-color: rgb(24, 25, 32);
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(240, 246, 255);

  &__logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .left-side {
    display: flex;
    align-items: center;
  }

  .right-side {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
}

.Logo {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #007aff;
  padding: 7px 15px;
  border-radius: 5px;

  &.dark-mode {
    color: black;
    background-color: #ff7ac6;
  }
}

.dark-mode-sun {
  color: white;
}

.cart-icon {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: #fff;
    border-radius: 60%;
    padding: 4px;
    font-size: 0.8rem;
  }
}

$light-bg: #f2f2f2;
$dark-bg: #212121;
$text-color: #333;
$light-text-color: #fff;
$light-hover-bg: #e5e5e5;
$dark-hover-bg: #303030;
$light-hover-text-color: #1a1a1a;
$dark-hover-text-color: #ddd;

.NavLink {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
  &:hover,
  &.active {
    background-color: $light-hover-bg;
    color: $light-hover-text-color;
  }

  &.dark-mode {
    color: $light-text-color;

    &:hover,
    &.active {
      background-color: $dark-hover-bg;
      color: $dark-hover-text-color;
    }
  }
}

.top__side {
  background-color: #1a1a1a;
  color: #fff;

  &.dark-mode {
    color: black;
    background-color: #616161;
  }
}

.auth-wrapper {
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: flex-end;
  gap: 20px;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;

  &.dark-mode {
    color: black;
    background-color: #616161;
  }

  .links {
    display: inline-block;

    &.dark-mode {
      background-color: #616161;
    }
  }
}
